<div>
  <h2 id="page-heading" data-cy="GhoshwaraHeading">
    <span jhiTranslate="eofficeApp.ghoshwara.home.title">Ghoshwaras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eofficeApp.ghoshwara.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ghoshwara"
        [routerLink]="['/ghoshwara/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eofficeApp.ghoshwara.home.createLabel"> Create a new Ghoshwara </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ghoshwaras?.length === 0">
    <span jhiTranslate="eofficeApp.ghoshwara.home.notFound">No ghoshwaras found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ghoshwaras && ghoshwaras.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="registerType">
            <span jhiTranslate="eofficeApp.ghoshwara.registerType">Register Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="initialPendings">
            <span jhiTranslate="eofficeApp.ghoshwara.initialPendings">Initial Pendings</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currentWeekInwards">
            <span jhiTranslate="eofficeApp.ghoshwara.currentWeekInwards">Current Week Inwards</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="total">
            <span jhiTranslate="eofficeApp.ghoshwara.total">Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="selfGenerated">
            <span jhiTranslate="eofficeApp.ghoshwara.selfGenerated">Self Generated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currentWeekCleared">
            <span jhiTranslate="eofficeApp.ghoshwara.currentWeekCleared">Current Week Cleared</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="weeklyPendings">
            <span jhiTranslate="eofficeApp.ghoshwara.weeklyPendings">Weekly Pendings</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="firstWeek">
            <span jhiTranslate="eofficeApp.ghoshwara.firstWeek">First Week</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="secondWeek">
            <span jhiTranslate="eofficeApp.ghoshwara.secondWeek">Second Week</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="thirdWeek">
            <span jhiTranslate="eofficeApp.ghoshwara.thirdWeek">Third Week</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="firstMonth">
            <span jhiTranslate="eofficeApp.ghoshwara.firstMonth">First Month</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="secondMonth">
            <span jhiTranslate="eofficeApp.ghoshwara.secondMonth">Second Month</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="thirdMonth">
            <span jhiTranslate="eofficeApp.ghoshwara.thirdMonth">Third Month</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="withinSixMonths">
            <span jhiTranslate="eofficeApp.ghoshwara.withinSixMonths">Within Six Months</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date"><span jhiTranslate="eofficeApp.ghoshwara.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="eofficeApp.ghoshwara.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="eofficeApp.ghoshwara.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="securityUser.username">
            <span jhiTranslate="eofficeApp.ghoshwara.securityUser">Security User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ghoshwara of ghoshwaras; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ghoshwara', ghoshwara.id, 'view']">{{ ghoshwara.id }}</a>
          </td>
          <td jhiTranslate="{{ 'eofficeApp.RegisterType.' + ghoshwara.registerType }}">{{ ghoshwara.registerType }}</td>
          <td>{{ ghoshwara.initialPendings }}</td>
          <td>{{ ghoshwara.currentWeekInwards }}</td>
          <td>{{ ghoshwara.total }}</td>
          <td>{{ ghoshwara.selfGenerated }}</td>
          <td>{{ ghoshwara.currentWeekCleared }}</td>
          <td>{{ ghoshwara.weeklyPendings }}</td>
          <td>{{ ghoshwara.firstWeek }}</td>
          <td>{{ ghoshwara.secondWeek }}</td>
          <td>{{ ghoshwara.thirdWeek }}</td>
          <td>{{ ghoshwara.firstMonth }}</td>
          <td>{{ ghoshwara.secondMonth }}</td>
          <td>{{ ghoshwara.thirdMonth }}</td>
          <td>{{ ghoshwara.withinSixMonths }}</td>
          <td>{{ ghoshwara.date | formatMediumDatetime }}</td>
          <td>{{ ghoshwara.lastModified | formatMediumDatetime }}</td>
          <td>{{ ghoshwara.lastModifiedBy }}</td>
          <td>
            <div *ngIf="ghoshwara.securityUser">
              <a [routerLink]="['/security-user', ghoshwara.securityUser?.id, 'view']">{{ ghoshwara.securityUser?.username }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ghoshwara', ghoshwara.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ghoshwara', ghoshwara.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ghoshwara)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ghoshwaras && ghoshwaras.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
